.contenedor-principal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-image: url('../../img/Fondo/fondo3.png');
    background-size: cover;      /* La imagen cubre todo el fondo */
    background-position: center; /* Centrada */
    background-repeat: no-repeat;/* No se repite */
}

/* Módulo */
.modulo {
    width: 700px;
    height: 500px;
    display:flex;
    justify-content: space-between; /* reparte mejor el espacio */
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    background-size: cover;      /* La imagen cubre todo el fondo */
    background-position: center; /* Centrada */
    background-repeat: no-repeat;/* No se repite */
     background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), /* Filtro oscuro con opacidad */
        url('../../img/Andy/Noche con el duque2.jpg'); /* Imagen de fondo */
    flex-wrap: wrap;
}

/* Texto y lista */
.info {
    flex: 1;
}

.info h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}

.info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info li {
    margin-bottom: 5px;
    color: white    ;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
}
.contenedor-principal .modulo .info ul li a {
    color: white;
}

/* Imagen */
.imagen {
    width: 150px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('/img/Andy/Noche con el duque1.jpg');
    background-size: cover;      /* La imagen cubre todo el fondo */
    background-position: center; /* Centrada */
    background-repeat: no-repeat;/* No se repite */
}

.imagen img {
    max-width: 100%;
    max-height: 100%;
}